body {
  background-color: black;
  color: greenyellow;
  font-size: 30px;
  margin: 0;
  font-family: "Ubuntu Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
